* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 500px;
  /* border: 1px solid black; */
  margin: 20px auto;
}

/* kotak hitung */
.kotak-hitung {
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
}

.header p:first-child {
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 162, 255);
}

.header p:last-child,
.footer {
  font-size: 0.8em;
  text-align: justify;
  margin-top: 20px;
}

.footer p:first-child {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(0, 162, 255);
}

.footer ol {
  margin-top: 5px;
  margin-left: 15px;
}

.footer p {
  margin-top: 10px;
}

.footer .meter {
  font-size: 0.3em;
}

/* form hitung */

.kotak-hitung .form {
  width: 80%;
  height: 200px;
  background-color: rgb(202, 234, 253);
  border-radius: 10px;
  margin: 20px auto;
}

/* halaman hasil */
.kotak-hasil {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}
