button {
  width: 40px;
}

.ac {
  width: 80px;
}

.input {
  display: grid;
  grid-template-columns: 100px;
}

.row1 {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 5px;
}

.row2,
.row3,
.row4,
.row5 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}
