.container {
  width: 220px;
  height: 350px;
  margin: 50px auto;
  display: grid;
}

button {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  font-weight: bold;
}

button.hitung {
  background-color: orange;
}

.grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 2px;
  margin: auto;
}

.input {
  grid-column: 1 / span 4;
  height: 40px;
  border-radius: 10px;
  margin-top: -18px;
}

.ac {
  grid-column: 1 / span 2;
}
